.cardContainer {
    background-color: var(--c-lightBlue);
    margin-bottom: 2vw;
    width: 18vw;
    color: var(--c-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 1vw;
}

.badge {
    font-size: 0.8vw !important;
}

.question {
    margin: 1vw 2vw 1.5vw 2vw;
    font-size: 1.5vw !important;
    text-align: center;
    font-weight: 500 !important;
    font-family: "Roboto" !important;
}

.dateContainer {
    font-family: "Roboto";
}

.dateTitle, .dateInfo {
    text-align: center;
    color: var(--c-yellow);
}

.dateTitle {
    opacity: 0.8;
    font-size: 1vw;
    font-weight: 500;
}

.dateInfo {
    font-size: 1.2vw;
    font-weight: 700;
    margin-bottom: 0.5vw;
}

.cpfInput {
    width: 60% !important;
    height: 2vw !important;
    font-size: 1vw !important;
}

.delBtn {
    align-self: center;
    gap: 0.5vw;
    width: 60%;
    margin: 1.5vw 0vw;
    background-color: rgb(235, 100, 100) !important;
    border: 0.2vw solid black;
    font-size: 1.3vw !important;
}

.delBtn:hover {
    background-color: rgb(202, 68, 68) !important;
}

@media all and (max-width: 700px) {
    .cardContainer {
        width: 25vw;
    }
    .badge {
        font-size: 1.2vw !important;
    }
    .question {
        font-size: 2vw !important;
    }
    .dateTitle {
        font-size: 1.5vw;
    }
    .dateInfo {
        font-size: 1.6vw;
    }
    .cpfInput {
        width: 50% !important;
    }
}

@media all and (max-width: 500px) {
    .cardContainer {
        width: 30vw !important;
    }
    .badge {
        font-size: 2vw !important;
    }
    .question {
        font-size: 3vw !important;
    }
    .dateTitle {
        font-size: 2vw;
    }
    .dateInfo {
        font-size: 2.5vw;
    }
}