.footerContainer {
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    background-color: var(--c-lightBlue);
    color: var(--c-black);
    border-top: var(--c-yellow) solid 0.5vw;
    justify-content: center;
    align-items: center;
    gap: 0.5vw;
}

.footerText {
    font-size: 1vw;
}

.iconLogos {
    box-sizing: 2vw !important;
}

@media all and (max-width: 1000px) {
    .footerText {
        font-size: 1.5vw;
    }
}

@media all and (max-width: 700px) {
    .footerText {
        font-size: 2vw;
        width: 70ch;
        text-align: center;
    }
}

@media all and (max-width: 500px) {
    .footerText {
        font-size: 3vw;
        width: 50ch;
    }
}